TikiFood.S.A/Index/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebTikiService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebTikiService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CostoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdSoda" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfContProd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContProd" nillable="true" type="tns:ContProd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContProd" nillable="true" type="tns:ArrayOfContProd" />
  <xs:complexType name="ContProd">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdContenido" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContProd" nillable="true" type="tns:ContProd" />
  <xs:complexType name="ArrayOfSoda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Soda" nillable="true" type="tns:Soda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoda" nillable="true" type="tns:ArrayOfSoda" />
  <xs:complexType name="Soda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Horario_ap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Horario_ci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSoda" type="xs:int" />
      <xs:element minOccurs="0" name="Localizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Soda" nillable="true" type="tns:Soda" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Localizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Administrador" nillable="true" type="tns:Administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdministrador" nillable="true" type="tns:ArrayOfAdministrador" />
  <xs:complexType name="Administrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSoda" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Localizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Administrador" nillable="true" type="tns:Administrador" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CostoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdSoda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfContPersonalizado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContPersonalizado" nillable="true" type="tns:ContPersonalizado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContPersonalizado" nillable="true" type="tns:ArrayOfContPersonalizado" />
  <xs:complexType name="ContPersonalizado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="ContNomb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="IdContenido" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdentDeProduct" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContPersonalizado" nillable="true" type="tns:ContPersonalizado" />
</xs:schema>