TikiFood.S.A/Index/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53174/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebTikiService" />
  <xs:element name="ConsultarData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ConsultarDataResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultContenidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ConsultContenidoResult" nillable="true" type="q2:ArrayOfContProd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultContProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultContProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultContProdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultIdPed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCarri" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultIdPedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultIdPedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ConsProductResult" nillable="true" type="q3:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoSoda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoSodaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="InfoSodaResult" nillable="true" type="q4:ArrayOfSoda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="LoginResult" nillable="true" type="q5:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMutlProdPers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopC" type="xs:int" />
        <xs:element minOccurs="0" name="ped" type="xs:int" />
        <xs:element minOccurs="0" name="idProd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMutlProdPersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMutlProdPersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ObtenerUsuariosResult" nillable="true" type="q6:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAdministradorContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAdministradorContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ObtenerAdministradorContraseniaResult" nillable="true" type="q7:ArrayOfAdministrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ObtenerUsuarioContraseniaResult" nillable="true" type="q8:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ped" type="xs:int" />
        <xs:element minOccurs="0" name="carrito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ObtenerPedidoResult" nillable="true" type="q9:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoPer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shopC" type="xs:int" />
        <xs:element minOccurs="0" name="ped" type="xs:int" />
        <xs:element minOccurs="0" name="idProd" type="xs:int" />
        <xs:element minOccurs="0" name="iden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoPerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ObtenerProductoPerResult" nillable="true" type="q10:ArrayOfContPersonalizado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductoPer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carrito" type="xs:int" />
        <xs:element minOccurs="0" name="ped" type="xs:int" />
        <xs:element minOccurs="0" name="idProd" type="xs:int" />
        <xs:element minOccurs="0" name="identidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductoPerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="EditProductoPerResult" nillable="true" type="q11:ArrayOfContPersonalizado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" type="xs:int" />
        <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="costounitario" type="xs:decimal" />
        <xs:element minOccurs="0" name="costoTotal" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pedido" type="xs:int" />
        <xs:element minOccurs="0" name="carrito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarContPers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProd" type="xs:int" />
        <xs:element minOccurs="0" name="inde" type="xs:int" />
        <xs:element minOccurs="0" name="idCont" type="xs:int" />
        <xs:element minOccurs="0" name="ContNomb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCarr" type="xs:int" />
        <xs:element minOccurs="0" name="idPed" type="xs:int" />
        <xs:element minOccurs="0" name="cant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarContPersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCantidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" type="xs:int" />
        <xs:element minOccurs="0" name="carrito" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="identi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCantidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localizacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idcarrito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidoPorIDSoda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsoda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPedidoPorIDSodaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WebTikiService" minOccurs="0" name="ObtenerPedidoPorIDSodaResult" nillable="true" type="q12:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCarrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carrito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCarritoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>