CalculosEmpleado/PryCalcEmpl/GUI/App_WebReferences/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFexamen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFexamen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tipo_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bonificacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="comision" type="xs:decimal" />
      <xs:element minOccurs="0" name="cuotaventas" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porccomision" type="xs:decimal" />
      <xs:element minOccurs="0" name="promediomensual" type="xs:decimal" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ventasanioant" type="xs:decimal" />
      <xs:element minOccurs="0" name="ventasanuales" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>